<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Book</title>
</head>
<body>
<h3>Input new data book</h3>
<form th:method="POST" th:action="@{/list}" th:object="${books}">
    <label for="name">Enter book name</label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: crimson" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br>
    <br>
    <label for="publisher">Enter publisher</label>
    <input type="text" th:field="*{publisher}" id="publisher">
    <div style="color: crimson" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">Publisher error</div>
    <br>
    <br>
    <label for="genre">Enter genre</label>
    <input type="text" th:field="*{genre}" id="genre">
    <div style="color: crimson" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Genre error</div>
    <br>
    <br>
    <input type="submit" value="Create new book"/>
</form>
</body>
</html>